<!DOCTYPE html>

<html>

<head>
    <title>Error-404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   {{>headers}}
    <p>{{errorMessage}}</p>
    {{>footer}}
</body>

</html>